.layout {
    display: flex;
    justify-content: center;
    height: auto;
    max-width: 1290px;
    min-width: 312px;
    margin: 0 auto;
}

.navbar-a-containart {
    display: flex;
    justify-content: space-between;
    padding: 8px 8rem;
}

.navbar-link{
    font-weight: bold;
}